<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', path='/css/old_styles.css') }}" rel="stylesheet">-->
    {% block head %}{% endblock %}
    
    <title>{% block title %}Base{% endblock %}</title>        

</head>

<body>

    {% block navbar %} {% include 'basic/navbar_public.html' %} {% endblock %}
    
    <main>
        
        {% block content %}
        <div><p>Content here</p></div>
        {% endblock %}

       
        
    </main>
    
    {% include 'basic/footer.html' %}


    

{% block bodyscripts %}
<script type="module" src="{{ url_for('static', path='/my_web_app/dist/firebaseConfig.bundle.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/my_web_app/dist/login.bundle.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/my_web_app/dist/scripts.bundle.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/my_web_app/dist/stripe.bundle.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/my_web_app/dist/lang.bundle.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/my_web_app/js/ws.js') }}"></script>
{% endblock %}

</body>

</html>