<div class="section bg-custom-light">
    <p>Lang 1</p>
        <h1>Welcome to the Part 1</h1>
        
        <p>
            This is Part 1 of tutorial from
            <a href="https://langchain-ai.github.io/langgraph/tutorials/introduction/">
                https://langchain-ai.github.io/langgraph/tutorials/introduction/
            </a>
        </p>
        
        <p>The simplest possible example of Graph</p>
        <p>Be careful how to display data in html/js when the funcion is streaming from graph!!!</p>
        
        <img src="{{ url_for('static', path='images/graph.jpeg') }}" />
        

        <div id="messages"></div>


        <form class="form" id="myForm">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" id="myName" name="name" placeholder="Enter your name">
                </div>
            </div>
            <div class="field">
                <button class="button is-primary" type="submit">Submit</button>
            </div>
        </form>


        
        
</div>


