<div class="section bg-custom-light">
    <h1>Part 3</h1>
    <p>
        This is Part 3 of tutorial from
        <a href="https://langchain-ai.github.io/langgraph/tutorials/introduction/#part-3-adding-memory-to-the-chatbot">
            Adding memory to the chatbot
        </a>
        <p>
            Because we added memory to the chatbot, we should also introduce config
        </p>
    </p>

    <img src="{{ url_for('static', path='images/graph3.jpeg') }}" />


    <div id="messages"></div>


    <form class="form" id="myForm" data-item-id="3" data-messages-area="messages">
        <div class="field">
            <div class="control">
                <input class="input" type="text" id="myName" name="name" placeholder="Enter your name">
            </div>
        </div>
        <div class="field">
            <button class="button is-primary" type="submit">Submit</button>
        </div>
    </form>




</div>