{% extends "base.html" %} 

{% block head %}
    <link href="{{ url_for('static', path='/css/bulma.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/chat.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} Lang {{ item_id }} {% endblock %}


    {% block content %}
    
    <section>
        {% if item_id %}
    
    
        {% if item_id == '1' %}
        {% include "lang/lang1.html" %}
    
        {% elif item_id == '2' %}
        {% include "lang/lang2.html" %}

        {% elif item_id == '3' %}
        {% include "lang/lang3.html" %}

        {% elif item_id == '4' %}
        {% include "lang/lang4.html" %}

        {% elif item_id == '5' %}
        {% include "lang/lang5.html" %}

        {% elif item_id == '6' %}
        {% include "lang/lang6.html" %}
    
        {% else %}
            <h1>Item_id is neither 1 or 2, but: {{ item_id }}</h1>
        {% endif %}
    
    
    
        {% else %}
        <h1>No Item ID provided</h1>
        {% endif %}
        
    
    </section>
    
    
    
    
    {% endblock %}
